<div class="card">
  <div class="card-content">
    <form method="POST" action="/admin/products/import" enctype="multipart/form-data">
        <input type="file" name="archivo" />
        <input type="submit" class="waves-light teal btn" value="Importar XLS" />
    </form>
    <br>
    <a href="/admin/product/insert" class="waves-effect waves-light teal btn"> <span style="color: white">Agregar</span></a>
    <br>
    <br>
    <table class="striped row">
       <thead>
         <tr>
             <th class="col s4">Producto</th>
             <th class="col s1">Precio</th>
             <th class="col s2">Url</th>
             <th class="col s1">Categoría</th>
             <th class="col s3">Acciones</th>
         </tr>
       </thead>

       <tbody>
         {{#each data}}
           <tr>
            <td class="col s4">{{name}}</td>
            <td class="col s1">{{price}}</td>
            <td class="col s2"><span class="substring"><a href="{{url}}" target="_blank">{{url}}</a></span></td>
            <td class="col s1">{{category}}</td>
            <td class="col s3">
                <a href="/admin/product/update/{{_id}}" class="waves-effect waves-light teal btn" style="margin: 5px"> <span style="color: white">Modificar</span></a>
                <a href="/admin/product/delete/{{_id}}" class="waves-effect waves-light red darken-1 btn" style="margin: 5px"> <span style="color: white">Eliminar</span></a>
            </td>
          </tr>
          {{/each}}
       </tbody>
     </table>
  </div>
</div>
