<div class="container">
  <div class="col m10 offset-m1 s12">
      <h2 class="header text_b">Nuevo producto </h2>
      <div class="card-panel" id="result_card" style="display: none">
         <i class="tiny material-icons">info_outline</i> <span class="grey-text text-darken-4" id="result"></span>
      </div>
      <div class="row">
         <form method="POST" action="/admin/product/update/{{doc._id}}">
           <div class="row">
             <div class="input-field">
               <input id="name" type="text" name="name" value="{{doc.name}}">
               <label for="name">Nombre</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field">
               <input id="price" type="number" name="price" value="{{doc.price}}" step="0.01">
               <label for="price">precio</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field">
               <input id="url" type="text" name="url" value="{{doc.url}}">
               <label for="url">Url</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field">
               <input id="url" type="number" name="category" value="{{doc.category}}">
               <label for="url">Categoría</label>
             </div>
           </div>
           <button class="btn-large waves-effect waves-light teal default_color scrollspy" type="submit" name="action">Grabar
              <i class="material-icons right">send</i>
           </button>
         </form>
       </div>
  </div>
 </div>
