<!--Intro-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span class="cd-words-wrapper waiting">
                <b class="is-visible"> ItEngine</b>
            </span>
            <br>
            <span>Soluciones tecnológicas modernas.  </span>
        </h1>
    </div>
</div>

<!-- Servicios  -->
<div class="container" id="servicios">
    <div class="section">
      <br>
      <h2 class="header text_b">Servicios </h2>
      <div class="row">

        <h2 class="center header text_h2">Sistemas web y aplicaciones móviles de calidad. Accesorios y reparaciones de confianza. </h2>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">important_devices</i></h2>
            <h5 class="center">Sistemas Web</h5>

            <p class="light"> Desarrollo de sistemas web a medida, e-commerce, sitios en wordpress, etc. Trabajando con tecnologías como JavaScript, Python y Php.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">perm_device_information</i></h2>
            <h5 class="center">Aplicaciones móviles</h5>

            <p class="light">Desarrollo de aplicaciones móviles para Android y IOS.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">computer</i></h2>
            <h5 class="center">Reparación de PC y accesorios</h5>

            <p class="light">Formateo, reparaciones y ventas de accesorios para su PC.</p>
          </div>
        </div>
      </div>

    </div>
</div>

<!--Clientes-->
<div class="section scrollspy" id="clientes" style="background: rgb(247,247,247);">
    <div class="container">
        <br>
        <h2 class="header text_b">Clientes </h2>
        <div class="row">
           {{#each sites}}
             <div class="col s12 m4 l4">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="/publics/clients/{{ photo }}">
                     </div>
                     <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4" style="font-size: 1.5em">{{ type_company }} <i class="mdi-navigation-more-vert right"></i></span>
                         <p><a href="{{ site_company }}" target="_blank">{{ company }}</a></p>
                     </div>
                     <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">{{ type_company }} <i class="mdi-navigation-close right"></i></span>
                         <p>{{ descrip }}</p>
                         <p>Tecnologías: {{ tecnologies }}</p>
                     </div>
                 </div>
             </div>
           {{/each}}
        </div>
    </div>
</div>

<!--Contacto-->

<div class="section scrollspy" id="contacto">
    <div class="container">
        <br>
        <h2 class="header text_b">Contáctenos </h2>
    </div>
    <div style="margin-left: 1.8em; width: 95%">
      <contact-form title="" firstname="Nombre" lastname="Apellido"
          email="Correo electrónico" message="Mensaje" send="Enviar"
          url="send_email" frameworkCss="materialize">
      </contact-form>
    </div>
</div>

<footer class="page-footer teal grey lighten-3 scrollspy">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="text">ItEngine</h5>
        <p class="text text-lighten-4">Sistemas web y aplicaciones móviles de calidad. <br> Accesorios y reparaciones de confianza. <br> Redes (Creación y mantenimiento).</p>


      </div>
      <div class="col l3 s12">
        <h5 class="text">Trabajos open source y tutoriales de desarrollo</h5>
        <ul>
          <li><a class="text" target="_blank" href="https://github.com/ItEngine">Github</a></li>
          <li><a class="text" target="_blank" href="http://martinpeveri.wordpress.com/">Blog</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
     <a class="text text-lighten-3" href="/">ItEngine - Buenos Aires - Argentina.</a>
    </div>
  </div>
</footer>
