<!--Portfolio-->
<div class="section scrollspy" id="clientes" style="background: rgb(247,247,247);">
    <div class="container">
        <br>
        <h2 class="header text_b">Portfolio </h2>
        <div class="row">
           {{#each portfolio.docs}}
             <div class="col s12 m4 l4">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="/publics/portfolio/{{ photo }}">
                     </div>
                     <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4" style="font-size: 1.5em">{{ name }} <i class="mdi-navigation-more-vert right"></i></span>
                         <p><a href="{{ site_url }}" target="_blank"> Ver sitio</a></p>
                     </div>
                     <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">{{ name }} <i class="mdi-navigation-close right"></i></span>
                         <p>{{ descrip }}</p>
                         <p>Tecnologías: {{ tecnologies }}</p>
                     </div>
                 </div>
             </div>
           {{/each}}
        </div>

        <ul class="pagination">
          <li class="waves-effect"><a href="?page=1"><i class="material-icons">chevron_left</i></a></li>
          {{#each pages.total}}
            {{#ifCond this ../portfolio.page }}
              <li class="active"><a href="?page={{ this }}">{{ this }}</a></li>
            {{ else }}
              <li class="waves-effect"><a href="?page={{ this }}">{{ this }}</a></li>
            {{/ifCond}}
          {{/each}}
          <li class="waves-effect"><a href="?page={{ portfolio.pages }}"><i class="material-icons">chevron_right</i></a></li>
        </ul>
  </div>
</div>
