<div class="card">
  <div class="card-content">
    <a href="/admin/site/insert" class="waves-effect waves-light teal btn"> <span style="color: white">Agregar</span></a>
    <br>
    <br>
    <table class="striped row">
       <thead>
         <tr>
             <th class="col s2">Empresa</th>
             <th class="col s2">Tipo de empresa</th>
             <th class="col s1">Url</th>
             <th class="col s2">Descripción</th>
             <th class="col s1">Tecnologías</th>
             <th class="col s2">Foto</th>
             <th class="col s2">Acciones</th>
         </tr>
       </thead>

       <tbody>
         {{#each data}}
           <tr>
            <td class="col s2">{{company}}</td>
            <td class="col s2">{{type_company}}</td>
            <td class="col s1"><span class="substring">{{site_company}}</span></td>
            <td class="col s2"><span class="substring">{{descrip}}</span></td>
            <td class="col s1"><span class="substring">{{tecnologies}}</span></td>
            <td class="col s2">{{photo}}</td>
            <td class="col s2">
                <a href="/admin/site/update/{{_id}}" class="waves-effect waves-light teal btn" style="margin: 5px; min-width: 10em"> <span style="color: white">Modificar</span></a>
                <a href="/admin/site/delete/{{_id}}" class="waves-effect waves-light red darken-1 btn" style="margin: 5px; min-width: 10em"> <span style="color: white">Eliminar</span></a>
            </td>
          </tr>
          {{/each}}
       </tbody>
     </table>
  </div>
</div>
